body{
background-image: url('./img/minecraft.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
}


 

.header { 
  
  background: linear-gradient(135deg, #c0e7aed3 0%, #e2f38eac 100%); 

  padding: 1px; 

  text-align: center; 

  margin-bottom: 15px;

} 

.texto5 {
  margin-bottom: 1px;
}

.dica1 {
  margin-bottom: 15px;
}

 

.menu { 

  grid-area: menu; 

  background-color: #ffffffba; 

  padding: 20px; 

} 

 

.main { 

  grid-area: main; 

  background-color: #8ca190; 

  padding: 20px; 

} 

 

.footer { 

  grid-area: footer; 

  background-color: #26943ab1; 

  padding: 20px; 

  text-align: center; 

} 

 

/* Responsividade */ 

@media (max-width: 768px) { 

  .grid-container { 

    grid-template-columns: 1fr;

    grid-template-areas: 

      "header" 

      "main" 

      "footer"; 

  } 

   

  .menu { 

    display: none;

  } 

}